body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:darkorange;
    font-family: 'PT Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Landing page styling*/
.homeH1{
    color:white;
    text-align:center;
}
/*More landing page styling*/
.underlineText{
    text-align:center;
    text-decoration:underline;
    color:white;
}
/*Kept jumbotron, added a picture and height*/
.jumbotron {
    background-image: url('Pics/videoGames.jpg');
    background-size:cover;
    height: 350px;
}
/*Placed border around completed reivew boxes*/
.thumbnail{
    border-color:black;
}

