@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

</div>

<h1 class="homeH1">Video Game Console Review</h1>
<br />
<br />
<br />
<br />
<h3 class="underlineText">Historical Snapshot</h3>
<p>
    No phone, no lights, no motor car, not a single luxury. Like Robinson Crusoe it's primitive as can be.
    He's gaining' on you so you better look alive. He's busy revin' up his Powerful Mach 5.
    Straightnin' the curves. Flatnin the hills.
    Someday the mountain might get 'em but the law never will.
</p>
<br />
<br />
<br />
@*An optional start button.  Hopefully Local host change does not disable button*@
<p><a class="btn btn-default" href="http://localhost:49496/Categories">Console Entry &raquo;</a></p>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@